@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><h1>Pardeep Kumar First Web Application</h1>
        <h3>First Commit</h3></p>
</div>
